.article-container {
  display: flex;
  width: 1200px;
  height: 250px;
  align-items: center;
}

.article-detail {
  width: 650px;
  height: 250px;
}
.article-detail h1 {
  margin-bottom: 5px;
}
.article-detail p {
  margin: 0px;
  color: #495057;
}

.read-more {
  cursor: pointer;
  text-decoration: underline;
  color: #1c7ed6;
}

.catagory {
  display: flex;
  gap: 10px;
}
.catagory p {
  margin: 5px 0px;
  color: #868e96;
}

.catagory-detail {
  cursor: pointer;
  text-decoration: underline;
  color: #868e96;
}

.main-img img {
  width: 280px;
  height: 200px;
  border-radius: 15px;
}
.additional-layout {
  display: flex;
  justify-content: space-between;
}
.additional-img--layout {
  display: flex;
  gap: 20px;
  justify-content: left;
  margin: 0px;
}
.additional-img img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.additional-copy-link img {
  width: 40px;
  height: 40px;
}
